.rs-author-info-box-admin-footer-ad-wrapper img {
    max-width: 100%;
    margin: 0;
    display: block;
}

.rs-author-info-box-admin-footer-ad-wrapper {
    width: 500px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    font-size: 13px;
}

.rs-author-info-box-admin-footer-ad-inner {
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 6px 1px #0000002e;
}

.rs-author-info-box-admin-footer-ad-inner p {
    margin-bottom: 8px;
}

.rs-author-info-box-ad-image.image-left {
    margin-bottom: 10px;
}

a.rswpbs-install {
    padding: 10px 15px;
    display: inline-block;
    background: #2473ae;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.close-popup {
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.rswpbs-banner-close {
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 1px #0000002b;
}
a.rswpbs-learn-more {
    margin-left: 10px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    background: #2a82eb;
    color: #fff;
}